* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
	padding: 0;
	width: 215px;
	height: 85px;
	display: flex;
	margin: 0 auto;
}